<h1 mat-dialog-title>Application for a Mortgage Loan</h1>
<div mat-dialog-content>
  <mat-vertical-stepper [linear]="isLinear" (selectionChange)="setIndex($event)">
    <mat-step step [stepControl]="incomeDetailsForm">
      <form [formGroup]="incomeDetailsForm">
        <ng-template matStepLabel>Income information</ng-template>

        <div class="form-field-wrapper">
          <div>
            <mat-label class="block">Number of Applicants</mat-label>
          </div>
          <mat-error class="error-message" *ngIf="attemptedToProceed && applicants.hasError('required')">
            Please select an option
          </mat-error>
          <mat-radio-group aria-label="Number of applicants" formControlName="applicants" class="black-outline">
            <mat-radio-button *ngFor="let applicantOption of applicantsOptions" [value]="applicantOption">
              {{ applicantOption }}
            </mat-radio-button>
          </mat-radio-group>
        </div>

        <div class="form-field-wrapper">
          <mat-form-field>
            <mat-label>Number of children</mat-label>
            <mat-select formControlName="amountOfKids">
              <mat-option *ngFor="let kid of children" [value]="kid">
                {{ kid }}
              </mat-option>
            </mat-select>

          </mat-form-field>
        </div>
        <div class="info-node">Provide your monthly income after taxes:</div>
        <div class="form-field-wrapper">
          <mat-form-field class="input-wrap">
            <mat-label>Your income</mat-label>
            <input matInput formControlName="income"/>
            <mat-error class="error-message" *ngIf="income && income.hasError('pattern')">
              Please enter a valid number
            </mat-error>
          </mat-form-field>
        </div>
        <div *ngIf="applicants.value==2" class="form-field-wrapper">
          <mat-form-field class="input-wrap">
            <mat-label>Co-applicant's income</mat-label>
            <input matInput formControlName="coApplicantsIncome"/>
            <mat-error class="error-message" *ngIf="coApplicantsIncome && coApplicantsIncome.hasError('pattern')">
              Please enter a valid number
            </mat-error>
          </mat-form-field>
        </div>
        <div *ngIf="applicants.value==2 && totalHouseHoldIncome>0" class="form-field-wrapper">
          <div class="info-node">Total Household income: {{totalHouseHoldIncome | currency: 'EUR'}}</div>
        </div>
        <div class="info-node info-node-warning" *ngIf="isSufficientHouseholdIncome==false">
          In order to apply for a loan your <span *ngIf="applicants.value==2">total household</span> income should be at
          least {{minHouseholdIncome}}</div>
        <div class="form-field-wrapper">
          <div>
            <mat-label class="block">Do you have any obligations?</mat-label>
            <mat-icon matSuffix matTooltip="Represent any outstanding debts or regular payments that a party must make."
                      [matTooltipPosition]="'right'">help_outline
            </mat-icon>
          </div>
          <mat-error class="error-message" *ngIf="attemptedToProceed && obligations.hasError('required')">
            Please select an option
          </mat-error>
        </div>
        <mat-radio-group aria-label="Select an option" formControlName="obligations">
          <mat-radio-button [value]="false">No
          </mat-radio-button>
          <mat-radio-button [value]="true">Yes
          </mat-radio-button>
        </mat-radio-group>
        <div *ngIf="obligations.value == true">
          <div class="info-node">Provide outstanding amount of obligations:</div>
          <ng-container *ngFor="let field of obligationFields">
            <div class="form-field-wrapper">
              <mat-form-field class="input-wrap">
                <mat-label>{{ field.label }}</mat-label>
                <input matInput formControlName="{{ field.controlName }}"/>
                <mat-error *ngIf="
              incomeDetailsForm.get(field.controlName) &&
              incomeDetailsForm.get(field.controlName).hasError('pattern')">
                  Please enter a valid number
                </mat-error>
              </mat-form-field>
            </div>
          </ng-container>
        </div>
        <div *ngIf="availableMonthlyPayment!=null" class="info-node">
          Monthly payment for a loan: {{availableMonthlyPayment | currency: 'EUR'}}
        </div>
        <div *ngIf="obligations.value == true && availableMonthlyPayment==0" class="info-node info-node-warning">
          Your total monthly obligations cannot exceed {{maxMonthlyObligationsPercentage | percent}} from your monthly
          incomes.
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="loanDetailsForm">
      <form [formGroup]="loanDetailsForm" color="accent">
        <ng-template matStepLabel>
          <div class="mat-step-header" (click)="triggerClick($event)">Loan Details</div>
        </ng-template>
        <div class="form-field-wrapper">
          <mat-form-field>
            <mat-label>Real Estate Address</mat-label>
            <input matInput formControlName="realEstateAddress"/>
          </mat-form-field>

        </div>
        <div class="form-field-wrapper">
          <mat-form-field>
            <mat-label>Real Estate Price</mat-label>
            <input matInput formControlName="realEstatePrice"/>
            <mat-error class="error-message" *ngIf="
                        realEstatePrice &&
          realEstatePrice.hasError('pattern')">
              Please enter a valid number
            </mat-error>
            <mat-error class="error-message" *ngIf="realEstatePrice && realEstatePrice.hasError('max')">
              Max is {{ maxRealEstatePrice }}
            </mat-error>
            <mat-error class="error-message" *ngIf="realEstatePrice && realEstatePrice.hasError('min')">
              Min is {{ minRealEstatePrice }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-field-wrapper">
          <mat-form-field>
            <mat-label>Down Payment</mat-label>
            <input matInput formControlName="downPayment"/>
            <mat-error class="error-message" *ngIf="downPayment && downPayment.hasError('pattern')">
              Please enter a valid number
            </mat-error>
            <mat-error class="error-message" *ngIf="downPayment && downPayment.hasError('min')">
              Min is {{ minDownPaymentAmount }}
            </mat-error>
            <mat-error class="error-message" *ngIf="downPayment && downPayment.hasError('max')">
              Max is {{ maxDownPaymentAmount }}
            </mat-error>
          </mat-form-field>
        </div>
        <div *ngIf="loanAmount!=null" class="info-node">
          <strong> Loan amount:</strong> {{loanAmount | currency: 'EUR': 'symbol': '1.0-0'}}
        </div>
        <div class="form-field-wrapper">
          <mat-form-field class="input-wrap">
            <mat-label>Loan term years</mat-label>
            <input matInput formControlName="loanTerm"/>
            <mat-error class="error-message" *ngIf="loanTerm &&
            (loanTerm.hasError('pattern')
            || loanTerm.hasError('min')
            || loanTerm.hasError('max'))">
              Please select between {{minLoanTerm}} and {{maxLoanTerm}} years
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-field-wrapper">
          <mat-form-field class="input-wrap">
            <mat-label>Euribor</mat-label>
            <mat-select formControlName="euribor">
              <mat-option *ngFor="let euribor of euriborValues" [value]="euribor">{{ euribor.timeInMonths }} Months
                <span *ngIf="euribor.interestRate !== null">
                  - {{ euribor.interestRate.toFixed(3) }}%</span>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="form-field-wrapper">
          <div>
            <mat-label class="block">Payment Schedule Type</mat-label>
            <mat-icon matSuffix [matTooltip]="
              'Annuity - identical monthly installments;
             Linear - identical monthly principle, interest is calculated on outstanding principle'
            " [matTooltipPosition]="'right'" fontIcon="help_outline"></mat-icon>
          </div>
          <mat-error class="error-message" *ngIf="attemptedToProceed && paymentScheduleType.hasError('required')">
            Please select an option
          </mat-error>
        </div>
        <div class="form-field-wrapper">
          <mat-radio-group aria-label="Payment schedule options" formControlName="paymentScheduleType" color="accent">
            <mat-radio-button *ngFor="let type of paymentScheduleTypes" [value]="type">
              {{ type | titlecase }}
            </mat-radio-button>
          </mat-radio-group>
        </div>
        <div *ngIf="isSufficientMonthlyPayment == false" class="info-node info-node-warning">
          Your total monthly income is insufficient for this loan amount. Please decrease your loan amount or increase
          loan term.
        </div>
      </form>
    </mat-step>

    <mat-step step [stepControl]="personalDetailsForm">
      <form [formGroup]="personalDetailsForm">
        <ng-template matStepLabel>Personal Details</ng-template>
        <div class="form-field-wrapper">
          <mat-form-field>
            <mat-label>First Name</mat-label>
            <input matInput formControlName="firstName"/>
          </mat-form-field>
        </div>
        <div class="form-field-wrapper">
          <mat-form-field>
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lastName"/>
          </mat-form-field>
        </div>
        <div class="form-field-wrapper">
          <mat-form-field>
            <mat-label>Personal Number</mat-label>
            <input matInput formControlName="personalNumber"/>
            <mat-error class="error-message" *ngIf="personalNumber && personalNumber.hasError('invalidPersonalNumber')">
              Please enter a valid personal number
            </mat-error>
            <mat-error class="error-message" *ngIf="personalNumber && personalNumber.hasError('invalidAge')">
              You are too young to apply for a loan
            </mat-error>
          </mat-form-field>
        </div>
        <div *ngIf="showAgeWarning == true" class="info-node info-node-reminder">
          You will be {{ ageAtLoanTermEnd }} years old when the loan is paid off. Please evaluate if you can afford the
          monthly payments.
        </div>
        <div class="form-field-wrapper">
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput formControlName="email"/>
            <mat-error class="error-message" *ngIf="personalEmail && personalEmail.hasError('pattern')">
              Please enter a valid email address
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-field-wrapper">
          <mat-form-field>
            <mat-label>Phone Number</mat-label>
            <input matInput formControlName="phoneNumber"/>
            <mat-error class="error-message" *ngIf="personalPhoneNumber && personalPhoneNumber.hasError('pattern')">
              Please enter a valid phone number
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-field-wrapper">
          <mat-form-field>
            <mat-label>Address</mat-label>
            <input matInput formControlName="address"/>
          </mat-form-field>
        </div>
      </form>
    </mat-step>
    <mat-step step *ngIf="applicants.value==2" [stepControl]="coApplicantDetailsForm">
      <form [formGroup]="coApplicantDetailsForm">
        <ng-template matStepLabel>Co-applicant's Details</ng-template>
        <div class="form-field-wrapper">
          <mat-form-field>
            <mat-label>First Name</mat-label>
            <input matInput formControlName="firstName"/>
          </mat-form-field>
        </div>
        <div class="form-field-wrapper">
          <mat-form-field>
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lastName"/>
          </mat-form-field>
        </div>
        <div class="form-field-wrapper">
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput formControlName="email"/>
            <mat-error class="error-message" *ngIf="coApplicantEmail && coApplicantEmail.hasError('pattern')">
              Please enter a valid email address
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-field-wrapper">
          <mat-form-field>
            <mat-label>Phone Number</mat-label>
            <input matInput formControlName="phoneNumber"/>
            <mat-error class="error-message"
                       *ngIf="coApplicantPhoneNumber && coApplicantPhoneNumber.hasError('pattern')">
              Please enter a valid phone number
            </mat-error>
          </mat-form-field>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Form Submission</ng-template>
      <table class="form-submission-info">
        <tbody>
        <tr>
          <th>Real Estate Address</th>
          <td>{{realEstateAddress.value}}</td>
        </tr>
        <tr>
          <th>Loan amount</th>
          <td>{{loanAmount | currency: 'EUR': 'symbol': '1.0-0'}}</td>
        </tr>
        <tr>
          <th>Name</th>
          <td>{{personalFirstName.value}} {{personalLastName.value}}</td>
        </tr>
        <tr>
          <th>Phone number</th>
          <td>{{personalPhoneNumber.value}}</td>
        </tr>
        <tr>
          <th>E-mail</th>
          <td>{{personalEmail.value}}</td>
        </tr>
        <tr>
          <th>Address</th>
          <td>{{personalAddress.value}}</td>
        </tr>
        <tr>
          <th>Application date</th>
          <td>{{applicationDate | date }}</td>
        </tr>
        </tbody>
      </table>
      <br>
      <table *ngIf="applicants.value==2" class="form-submission-info">
        <tbody>
        <th [colSpan]="2">Co-applicant's contact details</th>
        <tr>
          <th>Name</th>
          <td>{{coApplicantFirstName.value}} {{coApplicantLastName.value}}</td>
        </tr>
        <tr>
          <th>Phone number</th>
          <td>{{coApplicantPhoneNumber.value}}</td>
        </tr>
        <tr>
          <th>E-mail</th>
          <td>{{coApplicantEmail.value}}</td>
        </tr>
        </tbody>
      </table>
      <div class="info-node info-node-reminder"> If the info is correct, click 'Submit Application'.
      </div>
      <div>
        <button mat-raised-button mat-dialog-close class="form-button" (click)="onSubmitApplyClick()">Submit
          Application
        </button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</div>
