<div class="filter">
  <mat-form-field>
  <mat-label>Application Status</mat-label>
  <mat-select [(value)]="selectedStatus" (selectionChange)="applyFilter()">
    <mat-option value="">ALL</mat-option>
    <mat-option value="RECEIVED">RECEIVED</mat-option>
    <mat-option value="APPROVED">APPROVED</mat-option>
    <mat-option value="IN_PROGRESS">IN PROGRESS</mat-option>
    <mat-option value="REJECTED">REJECTED</mat-option>
  </mat-select>
</mat-form-field></div>
<table
  mat-table
  [dataSource]="dataSource"
  multiTemplateDataRows
  class="mat-elevation-z8"
  matSort
>
  <ng-container
    matColumnDef="{{ column }}"
    *ngFor="let column of columnsToDisplay"
  >
    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ column }}</th>
    <td mat-cell *matCellDef="let application">{{ application[column] }}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>actions</th>
    <td mat-cell *matCellDef="let application">
      <button
        mat-flat-button
        class="approve"
        (click)="approve(application); $event.stopPropagation()"
      >
        Approve
      </button>
      <button
        mat-flat-button
        color="primary"
        (click)="postpone(application); $event.stopPropagation()"
      >
        In progress
      </button>
      <button
        mat-flat-button
        color="warn"
        (click)="reject(application); $event.stopPropagation()"
      >
        Reject
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="expand">
    <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
    <td mat-cell *matCellDef="let application">
      <button
        mat-icon-button
        aria-label="expand row"
        (click)="
          expandedApplication =
            expandedApplication === application ? null : application;
          $event.stopPropagation()
        "
      >
        <mat-icon *ngIf="expandedApplication !== application"
        >keyboard_arrow_down
        </mat-icon
        >
        <mat-icon *ngIf="expandedApplication === application"
        >keyboard_arrow_up
        </mat-icon
        >
      </button>
    </td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td
      mat-cell
      *matCellDef="let application"
      [attr.colspan]="columnsToDisplayWithExpand.length"
    >
      <div
        class="example-application-detail"
        [@detailExpand]="
          application == expandedApplication ? 'expanded' : 'collapsed'
        "
      >
        <div class="application-detail-grid">
          <div *ngIf="application.description">
            {{ application.description }}
          </div>
          <div class="details">
            <table class="details-info">
              <tr>
                <th>First Name</th>
                <td>{{ application.firstName }}</td>
              </tr>
              <tr>
                <th>Last Name</th>
                <td>{{ application.lastName }}</td>
              </tr>
              <tr>
                <th>Personal number:</th>
                <td>{{ application.personalNumber }}</td>
              </tr>
              <tr>
                <th>Email</th>
                <td>{{ application.email }}</td>
              </tr>
              <tr *ngIf="application.coApplicantEmail">
                <th>Co-applicant email</th>
                <td>{{ application.coApplicantEmail }}</td>
              </tr>
              <tr>
                <th>Phone</th>
                <td>{{ application.phoneNumber }}</td>
              </tr>
              <tr>
                <th>Total household income:</th>
                <td>{{ application.totalHouseholdIncome | currency : 'EUR': 'symbol': '1.0-0'}}</td>
              </tr>
              <tr>
                <th>Available monthly payment:</th>
                <td>{{ application.monthlyPayment | currency : 'EUR': 'symbol': '1.0-0'}}</td>
              </tr>
              <tr>
            </table>
            <table class="details-info">
              <tr>
                <th>Real estate address:</th>
                <td>{{ application.realEstateAddress }}</td>
              </tr>
              <tr>
                <th>Real estate price:</th>
                <td>{{ application.realEstatePrice | currency : 'EUR': 'symbol': '1.0-0' }}</td>
              </tr>
              <tr>
                <th>Loan amount: </th>
                <td>{{ application.loanAmount | currency : 'EUR': 'symbol': '1.0-0' }}</td>
              </tr>
              <tr>
                <th>Loan term: </th>
                <td>{{ application.loanTerm }} years</td>
              </tr>
              <tr>
                <th>Interest rate: </th>
                <td>{{ application.interestRate | percent: '1.1-4'}}</td>
              </tr>
              <tr>
                <th>Euribor: </th>
                <td>{{ application.euriborTerm }} months - {{application.euriborRate | percent: '1.1-4'}}</td>
              </tr>
              <tr>
                <th>Payment schedule type: </th>
                <td>{{ application.paymentScheduleType | titlecase }}</td>
              </tr>
              <tr>
            </table>
          </div>

        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
  <tr
    mat-row
    *matRowDef="let application; columns: columnsToDisplayWithExpand"
    class="example-application-row"
    [class.example-expanded-row]="expandedApplication === application"
    (click)="
      expandedApplication =
        expandedApplication === application ? null : application
    "
  ></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: ['expandedDetail']"
    class="example-detail-row"
  ></tr>
</table>
