/* login.component.scss */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 70px);
  padding-top: 70px;
}

.login-title {
  text-align: center;
  color: #2f3b4b;
}

.login-card {
  padding: 1rem;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, .2);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;

  .form-field {
    margin: 1rem 0;
    width: 100%;
  }

  .login-button {
    margin-top: 1rem;
    width: 100%;
  }

  .switch {
    color: #2f3b4b;
    font-size: 15px;

    span {
      color: rgb(127, 178, 127);
    }
  }
}