.login-container {
    background-image: url('./mortgage-background-image.jpg');
    background-size: cover;
    align-items: center;
  }
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form-container {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
text-align: center;
    
  }
  
  