<body class ="login-container">
    <div >
        <form>
            <label for="id">ID:</label>
            <input type="text" id="id" name="id"><br><br>
          
            <label for="firstname">First Name:</label>
            <input type="text" id="firstname" name="firstname"><br><br>
          
            <label for="lastname">Last Name:</label>
            <input type="text" id="lastname" name="lastname"><br><br>
          
            <label for="email">Email:</label>
            <input type="email" id="email" name="email"><br><br>
          
            <label for="password">Password:</label>
            <input type="password" id="password" name="password"><br><br>
          
            <input type="submit" value="Submit">
          </form>
          
    </div>
</body>
