.container {
  display: flex;
  flex-direction: column;
  place-items: center;
  height: calc(100% - 100px);
  padding-top: 100px;

  .not-found {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    height: 60vh;
    max-width: 100%;
  }

  .not-found-title{
    text-align: center;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 550px) {
  .container {
    .not-found-title{
      font-size: large;
    }
    .not-found {
      height: 50%;
      object-fit: contain;
    }
  }
 
}