.not-found{
    background-image: url('../../assets/random.jpg');
    background-size: cover;
}
.not-found-message{
    content: to-upper-case($string: "not found!");
    text-align: center;
    color: aqua;

}
