.not-found {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    height: 75vh;
    background-image: url('./not-found.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .not-found-title{
    display: flex;
    justify-content: center;
    align-items: center;
  }