<div class="format">
  <form [formGroup]="monthlyForm" (ngSubmit)="onSubmit()" class="container">
    <div class="left-container">
      <mat-form-field appearance="fill" class="input-wrap">
        <mat-label>Number of applicants</mat-label>
        <mat-select formControlName="applicants">
          <mat-option [value]="1">1</mat-option>
          <mat-option [value]="2">2</mat-option>
        </mat-select>
        <mat-error *ngIf="applicants && applicants.hasError('required')">
          Please choose an option
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" class="input-wrap">
        <mat-label>Number of children</mat-label>
        <mat-select formControlName="amountOfKids">
          <mat-option *ngFor="let i of optionValues" [value]="i">{{
            i
            }}</mat-option>
        </mat-select>
        <mat-error *ngIf="amountOfKids && amountOfKids.hasError('required')">
          Please choose an option
        </mat-error>
      </mat-form-field>

      <mat-form-field class="input-wrap">
        <mat-label>Income</mat-label>
        <input matInput formControlName="income" (change)="onInputChanged()" />
        <mat-error *ngIf="income && income.hasError('required')">
          Please insert the income
        </mat-error>
        <mat-error *ngIf="income && income.hasError('pattern')">Please enter a number</mat-error>
      </mat-form-field>
      <div class="obligationContainer">
        <mat-label class="block">Do you have any obligations?</mat-label>
        <mat-icon matSuffix matTooltip="Represent any outstanding debts or regular payments that a party must make."
                  [matTooltipPosition]="'right'">help_outline</mat-icon>
      </div>
      <mat-radio-group aria-label="Select an option" color="primary" formControlName="obligation">
        <mat-radio-button [value]="false" checked>No</mat-radio-button>
        <mat-radio-button [value]="true">Yes</mat-radio-button>
      </mat-radio-group>
      <div *ngIf="obligation.value == true">
        <ng-container *ngFor="let field of fields">
          <mat-form-field class="input-wrap">
            <mat-label>{{ field.label }}</mat-label>
            <input matInput formControlName="{{ field.controlName }}" (change)="onInputChanged()" />
          </mat-form-field>
          <mat-error *ngIf="
              monthlyForm.get(field.controlName) &&
              monthlyForm.get(field.controlName).hasError('pattern')
            ">
            Please enter a number
          </mat-error>
        </ng-container>
      </div>
    </div>
    <div class="right-container-card">
      <div class="btn-wrap">
        <app-donut [data]="chartData" [labels]="chartLabels" [total]="totaldisplay" class="donut"></app-donut>
        <div>
          <div class="result-display-warp">

            <div *ngIf="showInsufficientMessage">Insufficient Income</div>
            <div *ngIf="!showInsufficientMessage">
              <p class="monthly-payment-text">Monthly Payment: {{ monthlyPaymentResult | number : "1.2-2" | currency :
                "EUR" }}</p>
            </div>
          </div>
          <div>
            <button class="btn-calculate" mat-flat-button color="primary" (click)="monthlyPayment()">
              Calculate
            </button>
            <button mat-flat-button *ngIf="monthlyPaymentResult > 0 && calculateBtnPushed" (click)="openDialog()">
              Apply
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
