<div class="format">
  <form [formGroup]="monthlyForm" (ngSubmit)="onSubmit()" class="container">
    <div class="left-container">
      <div class="title-container">
        <h3 class="page-title">
          Monthly Payment Calculator<img
            class="clippy"
            src="../../assets/images/clippy.png"
            alt="clippy"
          />
        </h3>
      </div>
      <mat-label class="block">Number of applicants</mat-label>
      <mat-radio-group
        aria-label="Select an option"
        color="primary"
        formControlName="applicants"
        class="applicantRadioGroup"
      >
        <mat-radio-button [value]="1" checked>1</mat-radio-button>
        <mat-radio-button [value]="2">2</mat-radio-button>
      </mat-radio-group>
      <mat-form-field appearance="fill" class="input-wrap">
        <mat-label>Number of children</mat-label>
        <mat-select formControlName="amountOfKids">
          <mat-option *ngFor="let i of optionValues" [value]="i">{{
            i
          }}</mat-option>
        </mat-select>
        <mat-error *ngIf="amountOfKids && amountOfKids.hasError('required')">
          Please choose an option
        </mat-error>
      </mat-form-field>

      <mat-form-field class="input-wrap">
        <mat-label>Income</mat-label>
        <input
          matInput
          formControlName="income"
          (change)="onInputChanged(); transformToValid()"
        />
        <mat-error *ngIf="income && income.hasError('required')">
          Please insert the income
        </mat-error>
        <mat-error *ngIf="income && income.hasError('pattern')"
          >Please enter a valid income</mat-error
        >
      </mat-form-field>
      <div class="obligationContainer">
        <mat-label class="block">Do you have any obligations?</mat-label>
        <button
          matPrefix
          mat-icon-button
          (click)="clickMe($event)"
          matTooltipPosition="above"
        >
          <mat-icon class="info-btn">info</mat-icon>
        </button>
      </div>
      <mat-radio-group
        aria-label="Select an option"
        color="primary"
        formControlName="obligation"
      >
        <mat-radio-button [value]="false" checked>No</mat-radio-button>
        <mat-radio-button [value]="true">Yes</mat-radio-button>
      </mat-radio-group>
      <div class="btn-calculate">
        <button mat-flat-button color="primary" (click)="monthlyPayment()">
          Calculate
        </button>
        <button mat-flat-button (click)="openDialog()">Apply</button>
      </div>
      <div class="obligation-container" *ngIf="obligation.value == true">
        <ng-container *ngFor="let field of fields">
          <mat-form-field class="input-wrap">
            <mat-label>{{ field.label }}</mat-label>

            <input
              matInput
              formControlName="{{ field.controlName }}"
              (change)="onInputChanged()"
            />
          </mat-form-field>
          <mat-error
            *ngIf="
              monthlyForm.get(field.controlName) &&
              monthlyForm.get(field.controlName).hasError('pattern')
            "
          >
            Please enter a number
          </mat-error>
        </ng-container>
      </div>
    </div>

    <div class="right-container-card">
      <div class="btn-wrap">
        <app-donut
          [data]="chartData"
          [labels]="chartLabels"
          [mainLabel]="totalDisplay"
        ></app-donut>
        <div>
          <div class="result-display-warp">
            <mat-label>Monthly Payment</mat-label>
            <div *ngIf="showInsufficientMessage">Insufficient Income</div>

            <div *ngIf="!showInsufficientMessage">
              <p class="monthly-payment-text">
                Monthly Payment: {{ monthlyPaymentResult | currency : "EUR" }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
