<body class="container">
  <form [formGroup]="monthlyForm">
    <div class="monthly-cal">
      <mat-form-field appearance="fill" class="input-wrap">
        <mat-label>Number of applicants</mat-label>
        <mat-select formControlName="applicants">
          <mat-option [value]="1">1</mat-option>
          <mat-option [value]="2">2</mat-option>
        </mat-select>
        <mat-error *ngIf="applicants && applicants.hasError('required')">
          Please choose an option
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="input-wrap">
        <mat-label>Number of children</mat-label>
        <mat-select formControlName="amountOfKids">
          <mat-option [value]="0">0</mat-option>
          <mat-option [value]="1">1</mat-option>
          <mat-option [value]="2">2</mat-option>
          <mat-option [value]="3">3</mat-option>
          <mat-option [value]="4">4</mat-option>
          <mat-option [value]="5">5</mat-option>
          <mat-option [value]="6">6</mat-option>
          <mat-option [value]="7">7</mat-option>
          <mat-option [value]="8">8</mat-option>
          <mat-option [value]="9">9</mat-option>
          <mat-option [value]="10">10</mat-option>
        </mat-select>
        <mat-error *ngIf="amountOfKids && amountOfKids.hasError('required')">
          Please choose an option
        </mat-error>
      </mat-form-field>

      <mat-form-field class="input-wrap">
        <mat-label>Income</mat-label>
        <input matInput formControlName="income" />
        <mat-error *ngIf="income && income.hasError('required')">
          Please insert the income
        </mat-error>
        <mat-error *ngIf="income && income.hasError('pattern')"
          >Please enter a number</mat-error
        >
      </mat-form-field>

      <mat-form-field class="input-wrap">
        <mat-label>Obligations</mat-label>
        <input matInput formControlName="obligations" />
        <mat-error *ngIf="obligations && obligations.hasError('pattern')">
          Please enter a number
        </mat-error>
        <mat-icon
          matSuffix
          matTooltip="Represent any outstanding debts or regular payments that a party must make."
          [matTooltipPosition]="'right'"
          >help_outline</mat-icon
        >
      </mat-form-field>
    </div>
  </form>

  <button class="btn-calculate" mat-raised-button type="submit">
    Calculate
  </button>
  <button mat-raised-button>Apply</button>
</body>
