<nav class="nav">

    <div class="nav-left">
        <img src="https://i.pinimg.com/736x/2c/1d/86/2c1d862b192eec296fcb2a3fd7fe820b.jpg" alt="goofy ahh cat"
            routerLink="/" class="image" />
        <!-- <p class="image" routerLink="/">LOGO</p> -->
        <ul class="linkContainer">
            <li><a routerLink="/monthly-payment" routerLinkActive="active" ariaCurrentWhenActive="page">Monthly
                    Payment</a>
            </li>
            <li><a routerLink="/maximum-loan" routerLinkActive="active" ariaCurrentWhenActive="page">Max
                    Loan</a></li>

        </ul>
    </div>

    <ul>
        <li><a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page" class="loginLink">Login</a>
        </li>
    </ul>


</nav>