<nav class="nav">

    <div class="nav-left">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/db/SEB_logo.svg/1200px-SEB_logo.svg.png"
            alt="goofy ahh cat" routerLink="/" class="image" />
        <ul class="linkContainer">
            <li><a routerLink="/monthly-payment" routerLinkActive="active" ariaCurrentWhenActive="page">Monthly
                    Payment</a>
            </li>
            <li><a routerLink="/maximum-loan" routerLinkActive="active" ariaCurrentWhenActive="page">Max
                    Loan</a></li>

        </ul>
    </div>

    <ul>
        <li><a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page" class="loginLink">Login</a>
        </li>
    </ul>


</nav>