@use '@angular/material' as mat;

@include mat.core();

$primary: mat.define-palette(mat.$green-palette, 600);
$accent: mat.define-palette(mat.$blue-palette, A200, A100, A400);
$warn: mat.define-palette(mat.$red-palette);

$theme: mat.define-light-theme((
 color: (
   primary: $primary,
   accent: $accent,
   warn: $warn,
 ),
 typography: mat.define-typography-config(
  $font-family: 'Poppins',
 ),
 density: 0,
));

@include mat.all-component-themes($theme);
