/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    color: white;
    overflow: auto;
}

body {
    margin: 0;
    font-family: Poppins;
    background: linear-gradient(217deg, #7297ad, #83a2b5 70.71%);
    overflow: auto;
}

.material-icons {
    color: black;
}

.mdc-text-field {
    border-radius: 4px;
}

.material-icons {
    color: white;
}

.mat-mdc-radio-button .mdc-form-field {
    color: var(--mdc-theme-text-primary-on-background, rgba(255, 255, 255, 0.87) 0.87);
}

.mat-step-header {
    color: white;
}

.mat-mdc-radio-button.mat-primary {
    --mdc-radio-disabled-selected-icon-color: #fff;
    --mdc-radio-disabled-unselected-icon-color: #fff;
    --mdc-radio-unselected-focus-icon-color: #fff;
    --mdc-radio-unselected-hover-icon-color: #fff;
    --mdc-radio-unselected-icon-color: rgba(255, 255, 255, 0.54);
    --mdc-radio-unselected-pressed-icon-color: rgba(255, 255, 255, 0.54);
    --mat-mdc-radio-ripple-color: #fff;
}

.cdk-overlay-backdrop {
    background: rgb(0 0 0 / 0%);
    backdrop-filter: blur(2640.7742px);
}