.container {
  text-align: center;
  margin-top: 100px;
  .cal-div {
    display: inline-block;
    min-width: 150px;
    max-width: 300px;
    width: 100%;
    .input-wrap {
      width: 100%;
    }
    .slider-margin {
      margin: 0px;
      min-width: 150px;
      max-width: 280px;
      width: 100%;
    }
    .slider-cont {
      display: flex;
      justify-content: space-between;
      margin: 20px 10px 0;
      max-width: 284px;
    }
  }
  .btn-calculate {
    margin-right: 10px;
  }
}

