<form [formGroup]="maxCalcForm" (ngSubmit)="calculateMax()" class="container">
  <h3 class="page-title">
    Maximum Payment Calculator<img class="clippy" src="../../assets/images/clippy.png" alt="clippy" />
  </h3>
  <mat-form-field class="input-field">
    <mat-label>Real Estate Price €</mat-label>
    <input matInput formControlName="realEstatePrice" id="realEstatePrice" (blur)="overwriteIfLess()" />
    <mat-error *ngIf="
        realEstatePrice &&
        (realEstatePrice.hasError('required') ||
          realEstatePrice.hasError('pattern'))
      ">
      Please enter a number
    </mat-error>
    <mat-error *ngIf="realEstatePrice && realEstatePrice.hasError('max')">
      Max is {{ maxRealEstatePrice }}
    </mat-error>
    <mat-error *ngIf="realEstatePrice && realEstatePrice.hasError('min')">
      Min is {{ minRealEstatePrice }}
    </mat-error>
  </mat-form-field>
  <div *ngIf="helloSlider" class="slider-container">
    <div class="slider-label">
      <p>{{ minLoanAmount }}</p>
      <p>Loan amount €</p>
      <p>{{ maxLoanAmount }}</p>
    </div>
    <mat-slider class="slider" [max]="maxLoanAmount" [min]="minLoanAmount" [step]="500">
      <input matSliderThumb formControlName="loanAmount" [value]="loanAmount.value" />
    </mat-slider>
  </div>

  <mat-form-field *ngIf="helloSlider" class="slider-input-field">
    <input matInput formControlName="loanAmount" [value]="loanAmount.value" (blur)="overwriteIfLess()" />
    <mat-error *ngIf="
        loanAmount &&
        (loanAmount.hasError('pattern') || loanAmount.hasError('required'))
      ">
      Please enter a number
    </mat-error>
  </mat-form-field>

  <mat-form-field *ngIf="!helloSlider" class="input-field">
    <mat-label>Loan Amount €</mat-label>
    <input matInput formControlName="loanAmount" [value]="loanAmount.value" (blur)="overwriteIfLess()" />
    <mat-error *ngIf="
        loanAmount &&
        (loanAmount.hasError('pattern') || loanAmount.hasError('required'))
      ">
      Please enter a number
    </mat-error>
  </mat-form-field>

  <div *ngIf="helloSlider" class="slider-container">
    <div class="slider-label">
      <mat-label>1</mat-label>
      <mat-label>Loan term years</mat-label>
      <mat-label>30</mat-label>
    </div>

    <mat-slider class="slider" [max]="maxLoanTerm" [min]="minLoanTerm">
      <input matSliderThumb formControlName="loanTerm" [value]="loanTerm.value" />
    </mat-slider>
  </div>

  <mat-form-field *ngIf="!helloSlider" class="input-field">
    <mat-label>Loan Term</mat-label>
    <input matInput formControlName="loanTerm" [value]="loanTerm.value" (blur)="overwriteIfLess()" />
    <mat-error *ngIf="loanTerm && loanTerm.hasError('pattern')">
      Please enter a number
    </mat-error>
  </mat-form-field>
  <mat-form-field *ngIf="helloSlider" class="slider-input-field">
    <input matInput formControlName="loanTerm" [value]="loanTerm.value" (blur)="overwriteIfLess()" />
    <mat-error *ngIf="loanTerm && loanTerm.hasError('pattern')">
      Please enter a number
    </mat-error>
  </mat-form-field>

  <mat-form-field class="input-field">
    <mat-label>Euribor</mat-label>
    <mat-select formControlName="euribor">
      <mat-option *ngFor="let euribor of euriborValues" [value]="euribor">{{ euribor.timeInMonths }} Months -
        {{ euribor.interestRate }}%</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-error *ngIf="loanTerm && loanTerm.hasError('pattern')">
    Please enter a number
  </mat-error>
  <div class="radio">
    <div class="obligationContainer">
      <mat-label class="block">Payment Schedule Type</mat-label>
    </div>
    <mat-radio-group aria-label="Payment schedule options" formControlName="paymentScheduleType" color="primary"
      class="radio-group">
      <div class="group">
        <mat-radio-button value="annuity">Annuity </mat-radio-button>
        <button matPrefix mat-icon-button (click)="clickMe($event)" matTooltipPosition="above"
          (mouseenter)="clickMe($event)" (mouseleave)="unclickMe($event)">
          <mat-icon class="info-btn">info</mat-icon>
        </button>
      </div>
      <div class="group">
        <mat-radio-button value="linear">Linear </mat-radio-button>
        <button matPrefix mat-icon-button (click)="clickMe2($event)" (mouseenter)="clickMe2($event)"
          (mouseleave)="unclickMe($event)" matTooltipPosition="above">
          <mat-icon class="info-btn">info</mat-icon>
        </button>
      </div>
    </mat-radio-group>
  </div>
  <div class="calc-button">
    <button mat-flat-button color="primary" type="submit">Calculate</button>
    <button mat-flat-button (click)="openDialog()">Apply</button>
  </div>
  <div class="right-container-card">
    <app-donut [maxData]="chartData" [labels]="chartLabels" [middleLabel]="['Interest/Principal']">
    </app-donut>
    <p class="payment-result">
      <mat-label *ngIf="linearTotal">
        <div class="LPI">Linear Payment Information</div>
        <br />
        Total Payment over Mortgage Period : {{ linearTotal }} € <br />Total
        Interest : {{ interestFromTotal }}€ <br />
        Overall Principal {{ principalFromTotal }} €
      </mat-label>
      <mat-label *ngIf="annuityTotal">
        <div class="API">Annuity Payment Information</div>
        <br />Total payment over Mortgage Period : {{ annuityTotal }} € <br />
        Total Interest : {{ interestFromTotal }} € <br />
        Overall Principal : {{ principalFromTotal }} €
      </mat-label>
    </p>
  </div>
</form>