<div class="container">
  <form [formGroup]="maxCalcForm" (ngSubmit)="calculateMax()">
    <div class="cal-div">
      <mat-form-field class="input-wrap">
        <mat-label>Real Estate Price €</mat-label>
        <input
          matInput
          formControlName="realEstatePrice"
          id="realEstatePrice"
          (blur)="overwriteIfLess()"
        />
        <mat-error
          *ngIf="
            realEstatePrice &&
            (realEstatePrice.hasError('required') ||
              realEstatePrice.hasError('pattern'))
          "
        >
          Please enter a number
        </mat-error>
        <mat-error *ngIf="realEstatePrice && realEstatePrice.hasError('max')">
          Max is {{ maxRealEstatePrice }}
        </mat-error>
        <mat-error *ngIf="realEstatePrice && realEstatePrice.hasError('min')">
          Min is {{ minRealEstatePrice }}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="input-wrap">
        <mat-label>Loan amount €</mat-label>
        <input
          matInput
          formControlName="loanAmount"
          [value]="loanAmount.value"
          (blur)="overwriteIfLess()"
        />
        <mat-error
          *ngIf="
            loanAmount &&
            (loanAmount.hasError('pattern') || loanAmount.hasError('required'))
          "
        >
          Please enter a number
        </mat-error>
      </mat-form-field>
      <mat-slider
        class="slider-margin"
        [max]="maxLoanAmount"
        [min]="minLoanAmount"
        [step]="500"
      >
        <input
          matSliderThumb
          formControlName="loanAmount"
          [value]="loanAmount.value"
        />
      </mat-slider>

      <mat-form-field class="input-wrap">
        <mat-label>Loan term years</mat-label>
        <input
          matInput
          formControlName="loanTerm"
          [value]="loanTerm.value"
          (blur)="overwriteIfLess()"
        />
        <mat-error *ngIf="loanTerm && loanTerm.hasError('pattern')">
          Please enter a number
        </mat-error>
      </mat-form-field>
      <mat-slider class="slider-margin" [max]="maxLoanTerm" [min]="minLoanTerm">
        <input
          matSliderThumb
          formControlName="loanTerm"
          [value]="loanTerm.value"
        />
      </mat-slider>

      <mat-form-field class="input-wrap">
        <mat-label>Euribor</mat-label>
        <mat-select formControlName="euribor">
          <mat-option *ngFor="let euribor of euriborValues" [value]="euribor">
            {{ euribor.timeInMonths }} Months
            <span *ngIf="euribor.interestRate !== null"> - {{ euribor.interestRate.toFixed(3) }}%</span>
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-error *ngIf="loanTerm && loanTerm.hasError('pattern')">
        Please enter a number
      </mat-error>

      <div class="obligationContainer">
        <mat-label class="block">Payment Schedule Type</mat-label>
        <mat-icon
          matSuffix
          [matTooltip]="
            'Annuity - identical monthly installments;
             Linear - identical monthly principle, interest is calculated on outstanding principle'
          "
          [matTooltipPosition]="'right'"
          fontIcon="help_outline"
        ></mat-icon>
      </div>
      <mat-radio-group
        aria-label="Payment schedule options"
        formControlName="paymentScheduleType"
        color="primary"
      >
        <mat-radio-button value="annuity">Annuity</mat-radio-button>
        <mat-radio-button value="linear">Linear</mat-radio-button>
      </mat-radio-group>

      <mat-form-field class="input-wrap">
        <mat-label>Down payment</mat-label>
        <input matInput formControlName="downpayment" id="downpayment"/>
      </mat-form-field>
      <mat-form-field class="input-wrap">
        <mat-label>Interest Rate</mat-label>
        <input matInput formControlName="interestRate"/>
      </mat-form-field>
      <button
        class="btn-calculate"
        mat-flat-button
        color="primary"
        type="submit"
      >
        Calculate
      </button>
      <button mat-flat-button (click)="openDialog()">Apply</button>
    </div>
  </form>
  <mat-label *ngIf="linearTotal"
  >With linear payments by the end of your mortgage you'll have paid off:
    {{ linearTotal }} € <br
    /></mat-label>

  <mat-label *ngIf="annuityTotal"
  >With annuity payments by the end of your mortgage you'll have paid off:
    {{ annuityTotal }} € <br
    /></mat-label>
</div>
