<h1>Home</h1>
<div class="container">
  <mat-card class="card" routerLink="/monthly-payment">
    <img
      mat-card-image
      src="https://upload.wikimedia.org/wikipedia/commons/c/cf/Casio_calculator_JS-20WK_in_201901_002.jpg"
      alt="Casio calculator from Wikipedia"
    />
    <mat-card-header>
      <mat-card-title>Monthly Calculator</mat-card-title>
      <mat-card-subtitle>Calculate what you owe us TODAY! 💯</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <mat-card class="card" routerLink="/maximum-loan">
    <img
      mat-card-image
      src="https://media.tenor.com/wu0z3nw60gcAAAAC/breaking-bad-money.gif"
      alt="Huell rolling in money"
    />
    <mat-card-header>
      <mat-card-title>M A X I M U M Calculator</mat-card-title>
      <div class="chip">EXTREME 💥</div>
      <mat-card-subtitle
        >Find out what you'll be paying us TODAY! 💯</mat-card-subtitle
      >
    </mat-card-header>
  </mat-card>
</div>
