<div class="container">
  <h1 class="title">Home</h1>
  <mat-card class="card" routerLink="/monthly-payment">
    <img src="../../assets/images/confused-math.gif" alt="Woman doing calculations" />
    <mat-card-header>
      <mat-card-title>Monthly Calculator</mat-card-title>
      <mat-card-subtitle>Calculate what you owe us TODAY! 💯</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <mat-card class="card" routerLink="/maximum-loan">
    <div>
      <img class="money-image" src="../../assets/images/breaking-bad-money.gif"
        alt="Huell rolling in money" />
      <div class="chip">Extreme 💥</div>
    </div>
    <mat-card-header>
      <mat-card-title class="maximum-calculator-title"><span class="maxima">Maximum</span>Calculator</mat-card-title>
      <mat-card-subtitle>When monthtly calculator is not enough 🧐</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <mat-card class="card" (click)="openDialog()">
    <img src="../../assets/images/cat-begging.gif" alt="Cat begging for money" />
    <mat-card-header>
      <mat-card-title>Apply for a loan</mat-card-title>
      <mat-card-subtitle>Already decided? Apply for a mortgage RIGHT! 💯</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</div>
